
h1 {
    color: white;
    background-color: $color-barra;
    text-align: center;
}
h3 {
    text-align: center;
}
.navFooter {
    background-color: rgb(145, 145, 145);

}
.pfooter {
    color: white;
}